In [26]:
import pandas as pd
from IPython.display import display

In [27]:
oil_prod_per_year = pd.read_csv('US_oil_production.csv', index_col= 'Year', nrows=54)
display(oil_prod_per_year.head())
display(oil_prod_per_year.tail())

      U.S. Field Production of Crude Oil Thousand Barrels per Day
Year
2021                                              11200
2020                                              11283
2019                                              12289
2018                                              10941
2017                                               9357

      U.S. Field Production of Crude Oil Thousand Barrels per Day
Year
1972                                               9441
1971                                               9463
1970                                               9637
1969                                               9238
1968                                               9096

In [28]:
oil_prod_per_year.rename(columns={'U.S. Field Production of Crude Oil Thousand Barrels per Day' :'Production'}, inplace= True)
oil_prod_per_year.head()

      Production
Year
2021       11200
2020       11283
2019       12289
2018       10941
2017        9357

In [29]:
oil_prod_per_year.columns

Index(['Production'], dtype='object')

In [30]:
incidents_per_year = pd.read_csv('../incidents_per_year.csv', index_col= 'Year')
display(incidents_per_year.shape)
display(oil_prod_per_year.shape)

(54, 1)

(54, 1)

In [32]:
prod_vs_inc = oil_prod_per_year.merge(incidents_per_year, left_on='Year', right_on='Year')
display(prod_vs_inc.head())
display(prod_vs_inc.tail())

      Production  Incidents_per_Year
Year
2021       11200                 308
2020       11283                 333
2019       12289                 384
2018       10941                 405
2017        9357                 415

      Production  Incidents_per_Year
Year
1972        9441                 306
1971        9463                 309
1970        9637                 351
1969        9238                 411
1968        9096                 504

In [40]:
prod_vs_inc.reset_index(inplace=True)
prod_vs_inc.head()

   Year  Production  Incidents_per_Year
0  2021       11200                 308
1  2020       11283                 333
2  2019       12289                 384
3  2018       10941                 405
4  2017        9357                 415

In [41]:
prod_vs_inc.to_json('prod_vs_inc.json')