In [1]:
#import dependencies and libraries
import pandas as pd
import numpy as np
from dataprep.clean import clean_lat_long
from dataprep.clean import validate_lat_long

NumExpr defaulting to 8 threads.

In [2]:
#define function to extract chosen columns
def extract(pipeline_file,column_names):
    #Read data into df
    pipeline_data = pd.read_csv(pipeline_file, low_memory=False)
    fixed_pipeline_data = pipeline_data[column_names]
    return pipeline_data, fixed_pipeline_data

### Pre-1986

In [34]:
# Load pre-1986 data
column_names = ['REPORT_ID','OPERATOR_NAME','ACCIDENT_DATE','ACCIDENT_STATE', 'ACCIDENT_COUNTY', 
    'ACCIDENT_CITY', 'COMMODITY', 'LOSS_BBLS', 'TOTAL_FATALITIES', 'TOTAL_INJURIES', 
    'IS_FIRE', 'IS_EXPLOSION', 'IS_ABOVE_GROUND_TEXT','TOTAL_PRPTY_DAMAGE','ESTIMATE_ACC_PRESSURE',
    'DEPTH_OF_COVER','SYS_PART_INVOLVED_TEXT', 'ORIGIN_LIQUID_RELEASE_TEXT', 'PRIMARY_CAUSE_TEXT']

pipeline_file = 'pre1986.csv'
pipeline_data, fixed_pipeline_data = extract(pipeline_file,column_names)

In [35]:
# Convert pre-1986 data to dataframe
pre1986_df = fixed_pipeline_data
pre1986_df

,REPORT_ID,OPERATOR_NAME,ACCIDENT_DATE,ACCIDENT_STATE,ACCIDENT_COUNTY,ACCIDENT_CITY,COMMODITY,LOSS_BBLS,TOTAL_FATALITIES,TOTAL_INJURIES,IS_FIRE,IS_EXPLOSION,IS_ABOVE_GROUND_TEXT,TOTAL_PRPTY_DAMAGE,ESTIMATE_ACC_PRESSURE,DEPTH_OF_COVER,SYS_PART_INVOLVED_TEXT,ORIGIN_LIQUID_RELEASE_TEXT,PRIMARY_CAUSE_TEXT
0,19850138,MID-AMERICA PIPELINE CO (MAPCO),10/16/1985,TX,WINKLER,KERMIT,NATURAL GAS LIQUID,623,0,0,NO,NO,BELOW GROUND,10,650,40,LINE PIPE,PIPE,EQUIPMENT RUPTURING LINE
1,19850137,WYCO PIPE LINE CO,10/6/1985,CO,ADAMS,DUPONT,GASOLINE,0,0,0,NO,NO,NO DATA,0,0,0,TANK FARM,TANK,OTHER
2,19850140,CHEVRON PIPELINE CO,9/26/1985,OR,MALHEUR,NO DATA,JET FUEL,178,0,0,NO,NO,BELOW GROUND,25000,250,8,LINE PIPE,PIPE,EQUIPMENT RUPTURING LINE
3,19850134,SINCLAIR PIPELINE CO,9/25/1985,WY,FREMONT,NO DATA,CRUDE OIL,200,0,0,NO,NO,BELOW GROUND,100,375,22,LINE PIPE,WELDED FITTING,EQUIPMENT RUPTURING LINE
4,19850121,BUCKEYE PIPE LINE CO,9/23/1985,NY,RICHMOND,NEW YORK -RICHMOND,GASOLINE,500,0,2,NO,NO,NO DATA,200,0,0,OTHER,OTHER,OTHER
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4728,19680004,SHELL PIPELINE CORP,1/2/1968,TX,NO DATA,WINKLER,CRUDE OIL,150,0,0,NO,NO,BELOW GROUND,0,750,8,LINE PIPE,PIPE,CORROSION
4729,19680005,SHELL PIPELINE CORP,1/2/1968,TX,WARD,MONAHANS,CRUDE OIL,200,0,0,NO,NO,BELOW GROUND,0,700,18,LINE PIPE,PIPE,CORROSION
4730,19680006,SOHIO PIPE LINE CO,1/2/1968,IL,NO DATA,GRAYVILLE,CRUDE OIL,314,0,0,NO,NO,NO DATA,164,0,0,LINE PIPE,VALVE,OTHER
4731,19680001,CONTINENTAL PIPE LINE CO,1/1/1968,OK,CARTER,FOX,L. P. G.,48,0,0,NO,NO,BELOW GROUND,0,300,30,LINE PIPE,PIPE,CORROSION
4732,19680002,SHELL PIPELINE CORP,1/1/1968,TX,WARD,MONAHANS,CRUDE OIL,50,0,0,NO,NO,BELOW GROUND,0,700,20,LINE PIPE,PIPE,CORROSION

In [36]:
#create list of old column names and new column names
old_names = [
    'REPORT_ID',
    'OPERATOR_NAME',
    'ACCIDENT_DATE',
    'ACCIDENT_STATE', 
    'ACCIDENT_COUNTY', 
    'ACCIDENT_CITY', 
    'COMMODITY', 
    'TOTAL_FATALITIES', 
    'TOTAL_INJURIES',
    'IS_ABOVE_GROUND_TEXT', 
    'DEPTH_OF_COVER',
    'SYS_PART_INVOLVED_TEXT', 
    'TOTAL_PRPTY_DAMAGE',
    'ESTIMATE_ACC_PRESSURE', 
    'PRIMARY_CAUSE_TEXT']

new_names = [
 'REPORT_NUMBER',
 'NAME',
 'DATE_OF_INCIDENT',
 'STATE OF INCIDENT',
 'COUNTY OF INCIDENT',
 'CITY OF INCIDENT',
 'COMMODITY_RELEASED_TYPE',
 'FATALITY_IND',
 'INJURY_IND',
 'INCIDENT_AREA_TYPE',
 'DEPTH_OF_COVER',
 'ITEM_INVOLVED',
 'PRPTY',
 'ACCIDENT_PRESSURE',
 'CAUSE'
 ]
#create dictionary of old name and new names
new_columns = dict(zip(old_names, new_names))

#rename columns
pre1986_df.rename(new_columns, axis=1, inplace=True)
pre1986_df.head()

C:\Users\Local User\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,REPORT_NUMBER,NAME,DATE_OF_INCIDENT,STATE OF INCIDENT,COUNTY OF INCIDENT,CITY OF INCIDENT,COMMODITY_RELEASED_TYPE,LOSS_BBLS,FATALITY_IND,INJURY_IND,IS_FIRE,IS_EXPLOSION,INCIDENT_AREA_TYPE,PRPTY,ACCIDENT_PRESSURE,DEPTH_OF_COVER,ITEM_INVOLVED,ORIGIN_LIQUID_RELEASE_TEXT,CAUSE
0,19850138,MID-AMERICA PIPELINE CO (MAPCO),10/16/1985,TX,WINKLER,KERMIT,NATURAL GAS LIQUID,623,0,0,NO,NO,BELOW GROUND,10,650,40,LINE PIPE,PIPE,EQUIPMENT RUPTURING LINE
1,19850137,WYCO PIPE LINE CO,10/6/1985,CO,ADAMS,DUPONT,GASOLINE,0,0,0,NO,NO,NO DATA,0,0,0,TANK FARM,TANK,OTHER
2,19850140,CHEVRON PIPELINE CO,9/26/1985,OR,MALHEUR,NO DATA,JET FUEL,178,0,0,NO,NO,BELOW GROUND,25000,250,8,LINE PIPE,PIPE,EQUIPMENT RUPTURING LINE
3,19850134,SINCLAIR PIPELINE CO,9/25/1985,WY,FREMONT,NO DATA,CRUDE OIL,200,0,0,NO,NO,BELOW GROUND,100,375,22,LINE PIPE,WELDED FITTING,EQUIPMENT RUPTURING LINE
4,19850121,BUCKEYE PIPE LINE CO,9/23/1985,NY,RICHMOND,NEW YORK -RICHMOND,GASOLINE,500,0,2,NO,NO,NO DATA,200,0,0,OTHER,OTHER,OTHER

In [37]:
# convert 'DATE_OF_INCIDENT' column to datetime format
pre1986_df['DATE_OF_INCIDENT'] = pre1986_df['DATE_OF_INCIDENT'].astype('datetime64[ns]')

#Get date ONLY from DATE_OF_INCIDENT column
pre1986_df['DATE_OF_INCIDENT'] = pre1986_df['DATE_OF_INCIDENT'].dt.date
pre1986_df

C:\Users\Local User\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Local User\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,REPORT_NUMBER,NAME,DATE_OF_INCIDENT,STATE OF INCIDENT,COUNTY OF INCIDENT,CITY OF INCIDENT,COMMODITY_RELEASED_TYPE,LOSS_BBLS,FATALITY_IND,INJURY_IND,IS_FIRE,IS_EXPLOSION,INCIDENT_AREA_TYPE,PRPTY,ACCIDENT_PRESSURE,DEPTH_OF_COVER,ITEM_INVOLVED,ORIGIN_LIQUID_RELEASE_TEXT,CAUSE
0,19850138,MID-AMERICA PIPELINE CO (MAPCO),1985-10-16,TX,WINKLER,KERMIT,NATURAL GAS LIQUID,623,0,0,NO,NO,BELOW GROUND,10,650,40,LINE PIPE,PIPE,EQUIPMENT RUPTURING LINE
1,19850137,WYCO PIPE LINE CO,1985-10-06,CO,ADAMS,DUPONT,GASOLINE,0,0,0,NO,NO,NO DATA,0,0,0,TANK FARM,TANK,OTHER
2,19850140,CHEVRON PIPELINE CO,1985-09-26,OR,MALHEUR,NO DATA,JET FUEL,178,0,0,NO,NO,BELOW GROUND,25000,250,8,LINE PIPE,PIPE,EQUIPMENT RUPTURING LINE
3,19850134,SINCLAIR PIPELINE CO,1985-09-25,WY,FREMONT,NO DATA,CRUDE OIL,200,0,0,NO,NO,BELOW GROUND,100,375,22,LINE PIPE,WELDED FITTING,EQUIPMENT RUPTURING LINE
4,19850121,BUCKEYE PIPE LINE CO,1985-09-23,NY,RICHMOND,NEW YORK -RICHMOND,GASOLINE,500,0,2,NO,NO,NO DATA,200,0,0,OTHER,OTHER,OTHER
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4728,19680004,SHELL PIPELINE CORP,1968-01-02,TX,NO DATA,WINKLER,CRUDE OIL,150,0,0,NO,NO,BELOW GROUND,0,750,8,LINE PIPE,PIPE,CORROSION
4729,19680005,SHELL PIPELINE CORP,1968-01-02,TX,WARD,MONAHANS,CRUDE OIL,200,0,0,NO,NO,BELOW GROUND,0,700,18,LINE PIPE,PIPE,CORROSION
4730,19680006,SOHIO PIPE LINE CO,1968-01-02,IL,NO DATA,GRAYVILLE,CRUDE OIL,314,0,0,NO,NO,NO DATA,164,0,0,LINE PIPE,VALVE,OTHER
4731,19680001,CONTINENTAL PIPE LINE CO,1968-01-01,OK,CARTER,FOX,L. P. G.,48,0,0,NO,NO,BELOW GROUND,0,300,30,LINE PIPE,PIPE,CORROSION
4732,19680002,SHELL PIPELINE CORP,1968-01-01,TX,WARD,MONAHANS,CRUDE OIL,50,0,0,NO,NO,BELOW GROUND,0,700,20,LINE PIPE,PIPE,CORROSION

### 1986-2002

In [38]:
# Load 1986 - 2002 data and convert to dataframe
yr1986_2002_df = pd.read_csv('1986-2002_Oil_Spills.csv')

In [39]:
yr1986_2002_df

,RPTID,NAME,DATETIME_OF_INCIDENT,STATE,COUNTY,CITY,OFFSHORE,LAT_LONG_OFFSHORE,SYSTEM_INVOLVED,ITEM_INVOLVED,...,IGNITE_IND,EXPLODE_IND,PIPE_DIAMETER,MAX_OP_PRESSURE,PRESSURE_AT_TIME_INCIDENT,INCIDENT_AREA_TYPE,AREA_OF_CORROSION,CAUSE_OUTSIDE_FORCE,PREVENTATIVE,FATALITIES
0,19850142,CHEVRON PIPELINE CO,19851011,TX,JEFFERSON,TOWN OF WINNIE,No,,LINE PIPE,PIPE,...,No,No,8.00,1472.0,50.0,BELOW GROUND,NO DATA,DAMAGE BY OTHERS,Yes,0.0
1,19850143,CENTRAL FLORIDA PIPELINE CORP,19851204,FL,POLK,LAKE ALFRED,No,,LINE PIPE,PIPE,...,No,No,11.00,900.0,400.0,BELOW GROUND,NO DATA,NO DATA,Null,0.0
2,19850144,MOBIL PIPELINE CO,19851115,CA,LOS ANGELES,,No,,PUMPING STATION,NO DATA,...,No,No,0.00,0.0,0.0,NO DATA,NO DATA,NO DATA,Null,0.0
3,19850145,MOBIL PIPELINE CO,19851123,TX,WEBB,,No,,NO DATA,PIPE,...,No,No,8.00,555.0,5.0,BELOW GROUND,NO DATA,DAMAGE BY OTHERS,Yes,0.0
4,19850146,PLANTATION PIPE LINE CO,19850909,GA,DOUGLAS,,No,,TANK FARM,NO DATA,...,No,No,0.00,0.0,0.0,NO DATA,NO DATA,NO DATA,Null,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3089,20020032,ENRON PRODUCTS PIPELINE INC,20020121,OK,WASHITA,CLINTON,No,NaN,LINE PIPE,PIPE,...,No,No,10.75,640.0,100.0,BELOW GROUND,INTERNAL,NaN,Null,0.0
3090,20020033,EQUILON PIPELINE COMPANY LLC,20020126,LA,PLACQUEMINES,NaN,No,NaN,NO DATA,VALVE,...,No,No,0.00,0.0,0.0,NO DATA,NaN,NaN,Null,0.0
3091,20020034,DOW PIPELINE CO,20020201,TX,CHAMBERS,NaN,No,NaN,PUMPING STATION,PIPE,...,No,No,1.00,2000.0,675.0,ABOVE GROUND,NaN,NaN,Yes,0.0
3092,20020035,ENRON PRODUCTS PIPELINE INC,20011011,OK,WASHITA,CLINTON,No,NaN,LINE PIPE,PIPE,...,No,No,10.75,640.0,100.0,BELOW GROUND,INTERNAL,NaN,Null,0.0
3093,20020036,CHEMOIL REFINING,20020206,CA,LONG BEACH,LOS ANGELES,No,NaN,LINE PIPE,PIPE,...,No,No,8.00,700.0,35.0,BELOW GROUND,EXTERNAL,DAMAGE BY OTHERS,Yes,0.0

In [40]:
#checking column names
yr1986_2002_df.columns.tolist()

['RPTID',
 'NAME',
 'DATETIME_OF_INCIDENT',
 'STATE',
 'COUNTY',
 'CITY',
 'OFFSHORE',
 'LAT_LONG_OFFSHORE',
 'SYSTEM_INVOLVED',
 'ITEM_INVOLVED',
 'INSTALLATION_YEAR',
 'CAUSE',
 'CAUSE_DETAILS',
 'PRPTY',
 'COMM',
 'TOTAL_BBLS',
 'IGNITE_IND',
 'EXPLODE_IND',
 'PIPE_DIAMETER',
 'MAX_OP_PRESSURE',
 'PRESSURE_AT_TIME_INCIDENT',
 'INCIDENT_AREA_TYPE',
 'AREA_OF_CORROSION',
 'CAUSE_OUTSIDE_FORCE',
 'PREVENTATIVE',
 'FATALITIES']

In [41]:
# Convert DATETIME_OF_INCIDENT column to Date format
yr1986_2002_df['DATETIME_OF_INCIDENT'] = pd.to_datetime(yr1986_2002_df['DATETIME_OF_INCIDENT'], format='%Y%m%d')
yr1986_2002_df

,RPTID,NAME,DATETIME_OF_INCIDENT,STATE,COUNTY,CITY,OFFSHORE,LAT_LONG_OFFSHORE,SYSTEM_INVOLVED,ITEM_INVOLVED,...,IGNITE_IND,EXPLODE_IND,PIPE_DIAMETER,MAX_OP_PRESSURE,PRESSURE_AT_TIME_INCIDENT,INCIDENT_AREA_TYPE,AREA_OF_CORROSION,CAUSE_OUTSIDE_FORCE,PREVENTATIVE,FATALITIES
0,19850142,CHEVRON PIPELINE CO,1985-10-11,TX,JEFFERSON,TOWN OF WINNIE,No,,LINE PIPE,PIPE,...,No,No,8.00,1472.0,50.0,BELOW GROUND,NO DATA,DAMAGE BY OTHERS,Yes,0.0
1,19850143,CENTRAL FLORIDA PIPELINE CORP,1985-12-04,FL,POLK,LAKE ALFRED,No,,LINE PIPE,PIPE,...,No,No,11.00,900.0,400.0,BELOW GROUND,NO DATA,NO DATA,Null,0.0
2,19850144,MOBIL PIPELINE CO,1985-11-15,CA,LOS ANGELES,,No,,PUMPING STATION,NO DATA,...,No,No,0.00,0.0,0.0,NO DATA,NO DATA,NO DATA,Null,0.0
3,19850145,MOBIL PIPELINE CO,1985-11-23,TX,WEBB,,No,,NO DATA,PIPE,...,No,No,8.00,555.0,5.0,BELOW GROUND,NO DATA,DAMAGE BY OTHERS,Yes,0.0
4,19850146,PLANTATION PIPE LINE CO,1985-09-09,GA,DOUGLAS,,No,,TANK FARM,NO DATA,...,No,No,0.00,0.0,0.0,NO DATA,NO DATA,NO DATA,Null,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3089,20020032,ENRON PRODUCTS PIPELINE INC,2002-01-21,OK,WASHITA,CLINTON,No,NaN,LINE PIPE,PIPE,...,No,No,10.75,640.0,100.0,BELOW GROUND,INTERNAL,NaN,Null,0.0
3090,20020033,EQUILON PIPELINE COMPANY LLC,2002-01-26,LA,PLACQUEMINES,NaN,No,NaN,NO DATA,VALVE,...,No,No,0.00,0.0,0.0,NO DATA,NaN,NaN,Null,0.0
3091,20020034,DOW PIPELINE CO,2002-02-01,TX,CHAMBERS,NaN,No,NaN,PUMPING STATION,PIPE,...,No,No,1.00,2000.0,675.0,ABOVE GROUND,NaN,NaN,Yes,0.0
3092,20020035,ENRON PRODUCTS PIPELINE INC,2001-10-11,OK,WASHITA,CLINTON,No,NaN,LINE PIPE,PIPE,...,No,No,10.75,640.0,100.0,BELOW GROUND,INTERNAL,NaN,Null,0.0
3093,20020036,CHEMOIL REFINING,2002-02-06,CA,LONG BEACH,LOS ANGELES,No,NaN,LINE PIPE,PIPE,...,No,No,8.00,700.0,35.0,BELOW GROUND,EXTERNAL,DAMAGE BY OTHERS,Yes,0.0

### 2002-2009

In [42]:
# Create column names for 2002-2009 data
column_names = 'REPORT_NUMBER NAME DATETIME_OF_INCIDENT LOCATION_LATITUDE LOCATION_LONGITUDE COMMODITY_RELEASED_TYPE SPUNIT_TXT	LOSS FATALITY_IND INJURY_IND SHUTDOWN_DUE_ACCIDENT_IND IGNITE_IND EXPLODE_IND ON_OFF_SHORE	INCIDENT_AREA_TYPE	DEPTH_OF_COVER  ITEM_INVOLVED PIPE_DIAMETER	INSTALLATION_YEAR	AGE_OF_FACILITY RELEASE_TYPE LEAK_TYPE TOTAL_EST_COST	ACCIDENT_PRESSURE	WATER_CONTAM_IND	CAUSE'
column_names = column_names.split()
column_names

['REPORT_NUMBER',
 'NAME',
 'DATETIME_OF_INCIDENT',
 'LOCATION_LATITUDE',
 'LOCATION_LONGITUDE',
 'COMMODITY_RELEASED_TYPE',
 'SPUNIT_TXT',
 'LOSS',
 'FATALITY_IND',
 'INJURY_IND',
 'SHUTDOWN_DUE_ACCIDENT_IND',
 'IGNITE_IND',
 'EXPLODE_IND',
 'ON_OFF_SHORE',
 'INCIDENT_AREA_TYPE',
 'DEPTH_OF_COVER',
 'ITEM_INVOLVED',
 'PIPE_DIAMETER',
 'INSTALLATION_YEAR',
 'AGE_OF_FACILITY',
 'RELEASE_TYPE',
 'LEAK_TYPE',
 'TOTAL_EST_COST',
 'ACCIDENT_PRESSURE',
 'WATER_CONTAM_IND',
 'CAUSE']

In [43]:
# Load 2002-2009 data into dataframe
pipeline_file = '2002-2009.csv'
pipeline_data, fixed_pipeline_data = extract(pipeline_file,column_names)
yr2002_2009_df = fixed_pipeline_data

In [44]:
#check dataframe
yr2002_2009_df

,REPORT_NUMBER,NAME,DATETIME_OF_INCIDENT,LOCATION_LATITUDE,LOCATION_LONGITUDE,COMMODITY_RELEASED_TYPE,SPUNIT_TXT,LOSS,FATALITY_IND,INJURY_IND,...,ITEM_INVOLVED,PIPE_DIAMETER,INSTALLATION_YEAR,AGE_OF_FACILITY,RELEASE_TYPE,LEAK_TYPE,TOTAL_EST_COST,ACCIDENT_PRESSURE,WATER_CONTAM_IND,CAUSE
0,20020037,"TE PRODUCTS PIPELINE CO., LP",1/23/2002,34 45' 18,92 11' 57,GASOLINE,GALLONS,50.0,NO,NO,...,NaN,NaN,NaN,NaN,NaN,NaN,510,NaN,NaN,MATERIAL AND/OR WELD FAILURES
1,20020038,"EQUISTAR CHEMICALS, L.P.",1/27/2002,29 42' 31.86,95 15' 9.0,HYDRODESULFURIZED LIGHT NAPHTHA,GALLONS,20.0,NO,NO,...,BOLTED FITTING,NaN,1976.0,NaN,NaN,NaN,98242,YES,NO,OTHER
2,20020039,MOBIL PIPELINE CO,1/24/2002,33.03.607,097.35.244,CRUDE OIL,BARRELS,10.0,NO,NO,...,BOLTED FITTING,NaN,1987.0,NaN,NaN,NaN,47670,YES,YES,INCORRECT OPERATION
3,20020040,CHEVRON PIPELINE CO,1/7/2002,NaN,,CRUDE OIL,BARRELS,2.0,NO,NO,...,NaN,NaN,NaN,NaN,NaN,NaN,3000,NaN,NaN,EQUIPMENT
4,20020041,"KINDER MORGAN ENERGY PARTNERS, L.P.",1/23/2002,NaN,NaN,PROPANE,BARRELS,4.0,NO,NO,...,NaN,NaN,NaN,NaN,NaN,NaN,2662,NaN,NaN,EQUIPMENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3025,20090382,NUSTAR PIPELINE OPERATING PARTNERSHIP L.P.,10/6/2009,40.584784,-99.380782,DIESEL,BARRELS,2.0,NO,NO,...,NaN,NaN,NaN,NaN,NaN,NaN,7123,NaN,NaN,INCORRECT OPERATION
3026,20090383,MARATHON PIPE LINE LLC,11/13/2007,39.632716,-87.284066,NaN,NaN,NaN,NO,NO,...,OTHER,NaN,2007.0,NaN,NaN,NaN,0,NO,NO,INCORRECT OPERATION
3027,20090384,MARATHON PIPE LINE LLC,1/8/2006,30.00855,-90.8597,NaN,NaN,NaN,NO,NO,...,OTHER,NaN,2006.0,NaN,NaN,NaN,0,NO,NO,INCORRECT OPERATION
3028,20090385,MARATHON PIPE LINE LLC,1/10/2009,30.19235,-90.85276,NaN,NaN,NaN,NO,NO,...,OTHER,NaN,1977.0,NaN,NaN,NaN,0,NO,NO,OTHER
3029,20090386,WEST TEXAS GULF PIPELINE CO,6/17/2009,32.5323,-100.8298,NaN,NaN,NaN,NO,NO,...,OTHER,NaN,1952.0,NaN,NaN,NaN,0,NO,NO,OTHER

In [45]:
# Create empty dictionary for total bbls released
TOTAL_BBLS_RELEASED = []
# Convert gallons to barrels when needed
for x in range (len(yr2002_2009_df)):
    if yr2002_2009_df['SPUNIT_TXT'][x] == 'GALLONS':
        TOTAL_BBLS_RELEASED.append(yr2002_2009_df['LOSS'][x]/42)
    else:
        TOTAL_BBLS_RELEASED.append(yr2002_2009_df['LOSS'][x])

# Add column to dataframe
TOTAL_BBLS_RELEASED = pd.DataFrame(TOTAL_BBLS_RELEASED)

yr2002_2009_df['TOTAL_BBLS_RELEASED'] = TOTAL_BBLS_RELEASED

# Reorder columns and drop SPUNIT_TXT and LOSS
yr2002_2009_df = yr2002_2009_df[['REPORT_NUMBER',
 'NAME',
 'DATETIME_OF_INCIDENT',
 'LOCATION_LATITUDE',
 'LOCATION_LONGITUDE',
 'COMMODITY_RELEASED_TYPE',
 'TOTAL_BBLS_RELEASED',
 'FATALITY_IND',
 'INJURY_IND',
 'SHUTDOWN_DUE_ACCIDENT_IND',
 'IGNITE_IND',
 'EXPLODE_IND',
 'ON_OFF_SHORE',
 'INCIDENT_AREA_TYPE',
 'DEPTH_OF_COVER',
 'ITEM_INVOLVED',
 'PIPE_DIAMETER',
 'INSTALLATION_YEAR',
 'AGE_OF_FACILITY',
 'RELEASE_TYPE',
 'LEAK_TYPE',
 'TOTAL_EST_COST',
 'ACCIDENT_PRESSURE',
 'WATER_CONTAM_IND',
 'CAUSE']]

yr2002_2009_df

C:\Users\Local User\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

,REPORT_NUMBER,NAME,DATETIME_OF_INCIDENT,LOCATION_LATITUDE,LOCATION_LONGITUDE,COMMODITY_RELEASED_TYPE,TOTAL_BBLS_RELEASED,FATALITY_IND,INJURY_IND,SHUTDOWN_DUE_ACCIDENT_IND,...,ITEM_INVOLVED,PIPE_DIAMETER,INSTALLATION_YEAR,AGE_OF_FACILITY,RELEASE_TYPE,LEAK_TYPE,TOTAL_EST_COST,ACCIDENT_PRESSURE,WATER_CONTAM_IND,CAUSE
0,20020037,"TE PRODUCTS PIPELINE CO., LP",1/23/2002,34 45' 18,92 11' 57,GASOLINE,1.190476,NO,NO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,510,NaN,NaN,MATERIAL AND/OR WELD FAILURES
1,20020038,"EQUISTAR CHEMICALS, L.P.",1/27/2002,29 42' 31.86,95 15' 9.0,HYDRODESULFURIZED LIGHT NAPHTHA,0.476190,NO,NO,YES,...,BOLTED FITTING,NaN,1976.0,NaN,NaN,NaN,98242,YES,NO,OTHER
2,20020039,MOBIL PIPELINE CO,1/24/2002,33.03.607,097.35.244,CRUDE OIL,10.000000,NO,NO,YES,...,BOLTED FITTING,NaN,1987.0,NaN,NaN,NaN,47670,YES,YES,INCORRECT OPERATION
3,20020040,CHEVRON PIPELINE CO,1/7/2002,NaN,,CRUDE OIL,2.000000,NO,NO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3000,NaN,NaN,EQUIPMENT
4,20020041,"KINDER MORGAN ENERGY PARTNERS, L.P.",1/23/2002,NaN,NaN,PROPANE,4.000000,NO,NO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2662,NaN,NaN,EQUIPMENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3025,20090382,NUSTAR PIPELINE OPERATING PARTNERSHIP L.P.,10/6/2009,40.584784,-99.380782,DIESEL,2.000000,NO,NO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7123,NaN,NaN,INCORRECT OPERATION
3026,20090383,MARATHON PIPE LINE LLC,11/13/2007,39.632716,-87.284066,NaN,NaN,NO,NO,NO,...,OTHER,NaN,2007.0,NaN,NaN,NaN,0,NO,NO,INCORRECT OPERATION
3027,20090384,MARATHON PIPE LINE LLC,1/8/2006,30.00855,-90.8597,NaN,NaN,NO,NO,NO,...,OTHER,NaN,2006.0,NaN,NaN,NaN,0,NO,NO,INCORRECT OPERATION
3028,20090385,MARATHON PIPE LINE LLC,1/10/2009,30.19235,-90.85276,NaN,NaN,NO,NO,NO,...,OTHER,NaN,1977.0,NaN,NaN,NaN,0,NO,NO,OTHER
3029,20090386,WEST TEXAS GULF PIPELINE CO,6/17/2009,32.5323,-100.8298,NaN,NaN,NO,NO,YES,...,OTHER,NaN,1952.0,NaN,NaN,NaN,0,NO,NO,OTHER

In [46]:
# convert 'DATETIME_OF_INCIDENT' column to datetime format
yr2002_2009_df['DATETIME_OF_INCIDENT'] = yr2002_2009_df['DATETIME_OF_INCIDENT'].astype('datetime64[ns]')
yr2002_2009_df

C:\Users\Local User\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,REPORT_NUMBER,NAME,DATETIME_OF_INCIDENT,LOCATION_LATITUDE,LOCATION_LONGITUDE,COMMODITY_RELEASED_TYPE,TOTAL_BBLS_RELEASED,FATALITY_IND,INJURY_IND,SHUTDOWN_DUE_ACCIDENT_IND,...,ITEM_INVOLVED,PIPE_DIAMETER,INSTALLATION_YEAR,AGE_OF_FACILITY,RELEASE_TYPE,LEAK_TYPE,TOTAL_EST_COST,ACCIDENT_PRESSURE,WATER_CONTAM_IND,CAUSE
0,20020037,"TE PRODUCTS PIPELINE CO., LP",2002-01-23,34 45' 18,92 11' 57,GASOLINE,1.190476,NO,NO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,510,NaN,NaN,MATERIAL AND/OR WELD FAILURES
1,20020038,"EQUISTAR CHEMICALS, L.P.",2002-01-27,29 42' 31.86,95 15' 9.0,HYDRODESULFURIZED LIGHT NAPHTHA,0.476190,NO,NO,YES,...,BOLTED FITTING,NaN,1976.0,NaN,NaN,NaN,98242,YES,NO,OTHER
2,20020039,MOBIL PIPELINE CO,2002-01-24,33.03.607,097.35.244,CRUDE OIL,10.000000,NO,NO,YES,...,BOLTED FITTING,NaN,1987.0,NaN,NaN,NaN,47670,YES,YES,INCORRECT OPERATION
3,20020040,CHEVRON PIPELINE CO,2002-01-07,NaN,,CRUDE OIL,2.000000,NO,NO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3000,NaN,NaN,EQUIPMENT
4,20020041,"KINDER MORGAN ENERGY PARTNERS, L.P.",2002-01-23,NaN,NaN,PROPANE,4.000000,NO,NO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2662,NaN,NaN,EQUIPMENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3025,20090382,NUSTAR PIPELINE OPERATING PARTNERSHIP L.P.,2009-10-06,40.584784,-99.380782,DIESEL,2.000000,NO,NO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7123,NaN,NaN,INCORRECT OPERATION
3026,20090383,MARATHON PIPE LINE LLC,2007-11-13,39.632716,-87.284066,NaN,NaN,NO,NO,NO,...,OTHER,NaN,2007.0,NaN,NaN,NaN,0,NO,NO,INCORRECT OPERATION
3027,20090384,MARATHON PIPE LINE LLC,2006-01-08,30.00855,-90.8597,NaN,NaN,NO,NO,NO,...,OTHER,NaN,2006.0,NaN,NaN,NaN,0,NO,NO,INCORRECT OPERATION
3028,20090385,MARATHON PIPE LINE LLC,2009-01-10,30.19235,-90.85276,NaN,NaN,NO,NO,NO,...,OTHER,NaN,1977.0,NaN,NaN,NaN,0,NO,NO,OTHER
3029,20090386,WEST TEXAS GULF PIPELINE CO,2009-06-17,32.5323,-100.8298,NaN,NaN,NO,NO,YES,...,OTHER,NaN,1952.0,NaN,NaN,NaN,0,NO,NO,OTHER

In [47]:
yr2002_2009_df = yr2002_2009_df.dropna(subset=['LOCATION_LATITUDE'])
yr2002_2009_df

,REPORT_NUMBER,NAME,DATETIME_OF_INCIDENT,LOCATION_LATITUDE,LOCATION_LONGITUDE,COMMODITY_RELEASED_TYPE,TOTAL_BBLS_RELEASED,FATALITY_IND,INJURY_IND,SHUTDOWN_DUE_ACCIDENT_IND,...,ITEM_INVOLVED,PIPE_DIAMETER,INSTALLATION_YEAR,AGE_OF_FACILITY,RELEASE_TYPE,LEAK_TYPE,TOTAL_EST_COST,ACCIDENT_PRESSURE,WATER_CONTAM_IND,CAUSE
0,20020037,"TE PRODUCTS PIPELINE CO., LP",2002-01-23,34 45' 18,92 11' 57,GASOLINE,1.190476,NO,NO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,510,NaN,NaN,MATERIAL AND/OR WELD FAILURES
1,20020038,"EQUISTAR CHEMICALS, L.P.",2002-01-27,29 42' 31.86,95 15' 9.0,HYDRODESULFURIZED LIGHT NAPHTHA,0.476190,NO,NO,YES,...,BOLTED FITTING,NaN,1976.0,NaN,NaN,NaN,98242,YES,NO,OTHER
2,20020039,MOBIL PIPELINE CO,2002-01-24,33.03.607,097.35.244,CRUDE OIL,10.000000,NO,NO,YES,...,BOLTED FITTING,NaN,1987.0,NaN,NaN,NaN,47670,YES,YES,INCORRECT OPERATION
6,20020043,EXPLORER PIPELINE CO,2002-03-04,"N 29,43,03","W 95,10,49",TRANSMIX(GASO/FUEL OIL/JET FUEL MIX),0.500000,NO,NO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1201,NaN,NaN,INCORRECT OPERATION
8,20020045,MID - AMERICA PIPELINE CO (MAPCO),2002-01-29,N 37.23234804,W 99.70684729,PROPANE,7500.000000,NO,NO,YES,...,BODY OF PIPE,NaN,1962.0,NaN,LEAK,PUNCTURE,145693,NO,NO,EXCAVATION DAMAGE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3025,20090382,NUSTAR PIPELINE OPERATING PARTNERSHIP L.P.,2009-10-06,40.584784,-99.380782,DIESEL,2.000000,NO,NO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7123,NaN,NaN,INCORRECT OPERATION
3026,20090383,MARATHON PIPE LINE LLC,2007-11-13,39.632716,-87.284066,NaN,NaN,NO,NO,NO,...,OTHER,NaN,2007.0,NaN,NaN,NaN,0,NO,NO,INCORRECT OPERATION
3027,20090384,MARATHON PIPE LINE LLC,2006-01-08,30.00855,-90.8597,NaN,NaN,NO,NO,NO,...,OTHER,NaN,2006.0,NaN,NaN,NaN,0,NO,NO,INCORRECT OPERATION
3028,20090385,MARATHON PIPE LINE LLC,2009-01-10,30.19235,-90.85276,NaN,NaN,NO,NO,NO,...,OTHER,NaN,1977.0,NaN,NaN,NaN,0,NO,NO,OTHER
3029,20090386,WEST TEXAS GULF PIPELINE CO,2009-06-17,32.5323,-100.8298,NaN,NaN,NO,NO,YES,...,OTHER,NaN,1952.0,NaN,NaN,NaN,0,NO,NO,OTHER

In [48]:
# Convert lat / long into decimal
yr2002_2009_df = clean_lat_long(yr2002_2009_df, lat_col="LOCATION_LATITUDE", long_col="LOCATION_LONGITUDE", split=True)
yr2002_2009_df

  0%|                                                                                           | 0/12 [00:00<…

Latitude and Longitude Cleaning Report:
	2311 values cleaned (87.27%)
	334 values unable to be parsed (12.61%), set to NaN
Result contains 2311 (87.27%) values in the correct format and 337 null values (12.73%)

,REPORT_NUMBER,NAME,DATETIME_OF_INCIDENT,LOCATION_LATITUDE,LOCATION_LONGITUDE,COMMODITY_RELEASED_TYPE,TOTAL_BBLS_RELEASED,FATALITY_IND,INJURY_IND,SHUTDOWN_DUE_ACCIDENT_IND,...,INSTALLATION_YEAR,AGE_OF_FACILITY,RELEASE_TYPE,LEAK_TYPE,TOTAL_EST_COST,ACCIDENT_PRESSURE,WATER_CONTAM_IND,CAUSE,LOCATION_LATITUDE_clean,LOCATION_LONGITUDE_clean
0,20020037,"TE PRODUCTS PIPELINE CO., LP",2002-01-23,34 45' 18,92 11' 57,GASOLINE,1.190476,NO,NO,NaN,...,NaN,NaN,NaN,NaN,510,NaN,NaN,MATERIAL AND/OR WELD FAILURES,18.0000,57.0000
1,20020038,"EQUISTAR CHEMICALS, L.P.",2002-01-27,29 42' 31.86,95 15' 9.0,HYDRODESULFURIZED LIGHT NAPHTHA,0.476190,NO,NO,YES,...,1976.0,NaN,NaN,NaN,98242,YES,NO,OTHER,31.8600,9.0000
2,20020039,MOBIL PIPELINE CO,2002-01-24,33.03.607,097.35.244,CRUDE OIL,10.000000,NO,NO,YES,...,1987.0,NaN,NaN,NaN,47670,YES,YES,INCORRECT OPERATION,3.6070,35.2440
6,20020043,EXPLORER PIPELINE CO,2002-03-04,"N 29,43,03","W 95,10,49",TRANSMIX(GASO/FUEL OIL/JET FUEL MIX),0.500000,NO,NO,NaN,...,NaN,NaN,NaN,NaN,1201,NaN,NaN,INCORRECT OPERATION,3.0000,49.0000
8,20020045,MID - AMERICA PIPELINE CO (MAPCO),2002-01-29,N 37.23234804,W 99.70684729,PROPANE,7500.000000,NO,NO,YES,...,1962.0,NaN,LEAK,PUNCTURE,145693,NO,NO,EXCAVATION DAMAGE,37.2323,-99.7068
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3025,20090382,NUSTAR PIPELINE OPERATING PARTNERSHIP L.P.,2009-10-06,40.584784,-99.380782,DIESEL,2.000000,NO,NO,NaN,...,NaN,NaN,NaN,NaN,7123,NaN,NaN,INCORRECT OPERATION,40.5848,-99.3808
3026,20090383,MARATHON PIPE LINE LLC,2007-11-13,39.632716,-87.284066,NaN,NaN,NO,NO,NO,...,2007.0,NaN,NaN,NaN,0,NO,NO,INCORRECT OPERATION,39.6327,-87.2841
3027,20090384,MARATHON PIPE LINE LLC,2006-01-08,30.00855,-90.8597,NaN,NaN,NO,NO,NO,...,2006.0,NaN,NaN,NaN,0,NO,NO,INCORRECT OPERATION,30.0085,-90.8597
3028,20090385,MARATHON PIPE LINE LLC,2009-01-10,30.19235,-90.85276,NaN,NaN,NO,NO,NO,...,1977.0,NaN,NaN,NaN,0,NO,NO,OTHER,30.1924,-90.8528
3029,20090386,WEST TEXAS GULF PIPELINE CO,2009-06-17,32.5323,-100.8298,NaN,NaN,NO,NO,YES,...,1952.0,NaN,NaN,NaN,0,NO,NO,OTHER,32.5323,-100.8298

In [49]:
yr2002_2009_df

,REPORT_NUMBER,NAME,DATETIME_OF_INCIDENT,LOCATION_LATITUDE,LOCATION_LONGITUDE,COMMODITY_RELEASED_TYPE,TOTAL_BBLS_RELEASED,FATALITY_IND,INJURY_IND,SHUTDOWN_DUE_ACCIDENT_IND,...,INSTALLATION_YEAR,AGE_OF_FACILITY,RELEASE_TYPE,LEAK_TYPE,TOTAL_EST_COST,ACCIDENT_PRESSURE,WATER_CONTAM_IND,CAUSE,LOCATION_LATITUDE_clean,LOCATION_LONGITUDE_clean
0,20020037,"TE PRODUCTS PIPELINE CO., LP",2002-01-23,34 45' 18,92 11' 57,GASOLINE,1.190476,NO,NO,NaN,...,NaN,NaN,NaN,NaN,510,NaN,NaN,MATERIAL AND/OR WELD FAILURES,18.0000,57.0000
1,20020038,"EQUISTAR CHEMICALS, L.P.",2002-01-27,29 42' 31.86,95 15' 9.0,HYDRODESULFURIZED LIGHT NAPHTHA,0.476190,NO,NO,YES,...,1976.0,NaN,NaN,NaN,98242,YES,NO,OTHER,31.8600,9.0000
2,20020039,MOBIL PIPELINE CO,2002-01-24,33.03.607,097.35.244,CRUDE OIL,10.000000,NO,NO,YES,...,1987.0,NaN,NaN,NaN,47670,YES,YES,INCORRECT OPERATION,3.6070,35.2440
6,20020043,EXPLORER PIPELINE CO,2002-03-04,"N 29,43,03","W 95,10,49",TRANSMIX(GASO/FUEL OIL/JET FUEL MIX),0.500000,NO,NO,NaN,...,NaN,NaN,NaN,NaN,1201,NaN,NaN,INCORRECT OPERATION,3.0000,49.0000
8,20020045,MID - AMERICA PIPELINE CO (MAPCO),2002-01-29,N 37.23234804,W 99.70684729,PROPANE,7500.000000,NO,NO,YES,...,1962.0,NaN,LEAK,PUNCTURE,145693,NO,NO,EXCAVATION DAMAGE,37.2323,-99.7068
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3025,20090382,NUSTAR PIPELINE OPERATING PARTNERSHIP L.P.,2009-10-06,40.584784,-99.380782,DIESEL,2.000000,NO,NO,NaN,...,NaN,NaN,NaN,NaN,7123,NaN,NaN,INCORRECT OPERATION,40.5848,-99.3808
3026,20090383,MARATHON PIPE LINE LLC,2007-11-13,39.632716,-87.284066,NaN,NaN,NO,NO,NO,...,2007.0,NaN,NaN,NaN,0,NO,NO,INCORRECT OPERATION,39.6327,-87.2841
3027,20090384,MARATHON PIPE LINE LLC,2006-01-08,30.00855,-90.8597,NaN,NaN,NO,NO,NO,...,2006.0,NaN,NaN,NaN,0,NO,NO,INCORRECT OPERATION,30.0085,-90.8597
3028,20090385,MARATHON PIPE LINE LLC,2009-01-10,30.19235,-90.85276,NaN,NaN,NO,NO,NO,...,1977.0,NaN,NaN,NaN,0,NO,NO,OTHER,30.1924,-90.8528
3029,20090386,WEST TEXAS GULF PIPELINE CO,2009-06-17,32.5323,-100.8298,NaN,NaN,NO,NO,YES,...,1952.0,NaN,NaN,NaN,0,NO,NO,OTHER,32.5323,-100.8298

In [33]:
yr2002_2009_df = clean_lat_long(yr2002_2009_df, lat_col="LOCATION_LATITUDE", long_col="LOCATION_LONGITUDE", split=False)
yr2002_2009_df

  0%|                                                                                           | 0/12 [00:00<…

Latitude and Longitude Cleaning Report:
	2341 values cleaned (100.0%)
Result contains 2341 (100.0%) values in the correct format and 0 null values (0.0%)

,REPORT_NUMBER,NAME,DATETIME_OF_INCIDENT,LOCATION_LATITUDE,LOCATION_LONGITUDE,COMMODITY_RELEASED_TYPE,TOTAL_BBLS_RELEASED,FATALITY_IND,INJURY_IND,SHUTDOWN_DUE_ACCIDENT_IND,...,PIPE_DIAMETER,INSTALLATION_YEAR,AGE_OF_FACILITY,RELEASE_TYPE,LEAK_TYPE,TOTAL_EST_COST,ACCIDENT_PRESSURE,WATER_CONTAM_IND,CAUSE,latitude_longitude
0,20020037,"TE PRODUCTS PIPELINE CO., LP",2002-01-23,34 45' 18,92 11' 57,GASOLINE,1.190476,NO,NO,NaN,...,NaN,NaN,NaN,NaN,NaN,510,NaN,NaN,MATERIAL AND/OR WELD FAILURES,"(18.0, 18.0, 57.0, 57.0)"
1,20020038,"EQUISTAR CHEMICALS, L.P.",2002-01-27,29 42' 31.86,95 15' 9.0,HYDRODESULFURIZED LIGHT NAPHTHA,0.476190,NO,NO,YES,...,NaN,1976.0,NaN,NaN,NaN,98242,YES,NO,OTHER,"(31.86, 31.86, 9.0, 9.0)"
2,20020039,MOBIL PIPELINE CO,2002-01-24,33.03.607,097.35.244,CRUDE OIL,10.000000,NO,NO,YES,...,NaN,1987.0,NaN,NaN,NaN,47670,YES,YES,INCORRECT OPERATION,"(3.607, 3.607, 35.244, 35.244)"
6,20020043,EXPLORER PIPELINE CO,2002-03-04,"N 29,43,03","W 95,10,49",TRANSMIX(GASO/FUEL OIL/JET FUEL MIX),0.500000,NO,NO,NaN,...,NaN,NaN,NaN,NaN,NaN,1201,NaN,NaN,INCORRECT OPERATION,"(3.0, 3.0, 49.0, 49.0)"
8,20020045,MID - AMERICA PIPELINE CO (MAPCO),2002-01-29,N 37.23234804,W 99.70684729,PROPANE,7500.000000,NO,NO,YES,...,NaN,1962.0,NaN,LEAK,PUNCTURE,145693,NO,NO,EXCAVATION DAMAGE,"(37.2323, 37.2323, -99.7068, -99.7068)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3025,20090382,NUSTAR PIPELINE OPERATING PARTNERSHIP L.P.,2009-10-06,40.584784,-99.380782,DIESEL,2.000000,NO,NO,NaN,...,NaN,NaN,NaN,NaN,NaN,7123,NaN,NaN,INCORRECT OPERATION,"(40.5848, 40.5848, -99.3808, -99.3808)"
3026,20090383,MARATHON PIPE LINE LLC,2007-11-13,39.632716,-87.284066,NaN,NaN,NO,NO,NO,...,NaN,2007.0,NaN,NaN,NaN,0,NO,NO,INCORRECT OPERATION,"(39.6327, 39.6327, -87.2841, -87.2841)"
3027,20090384,MARATHON PIPE LINE LLC,2006-01-08,30.00855,-90.8597,NaN,NaN,NO,NO,NO,...,NaN,2006.0,NaN,NaN,NaN,0,NO,NO,INCORRECT OPERATION,"(30.0085, 30.0085, -90.8597, -90.8597)"
3028,20090385,MARATHON PIPE LINE LLC,2009-01-10,30.19235,-90.85276,NaN,NaN,NO,NO,NO,...,NaN,1977.0,NaN,NaN,NaN,0,NO,NO,OTHER,"(30.1924, 30.1924, -90.8528, -90.8528)"
3029,20090386,WEST TEXAS GULF PIPELINE CO,2009-06-17,32.5323,-100.8298,NaN,NaN,NO,NO,YES,...,NaN,1952.0,NaN,NaN,NaN,0,NO,NO,OTHER,"(32.5323, 32.5323, -100.8298, -100.8298)"

In [22]:
yr2002_2009_df = validate_lat_long(yr2002_2009_df['latitude_longitude'])
yr2002_2009_df = yr2002_2009_df.dropna(yr2002_2009_df['latitude_longitude'])
yr2002_2009_df

KeyError: 'latitude_longitude'

### 2010 - present

In [ ]:
column_names = 'REPORT_NUMBER NAME LOCAL_DATETIME LOCATION_LATITUDE LOCATION_LONGITUDE COMMODITY_RELEASED_TYPE TOTAL_BBLS_RELEASED FATALITY_IND INJURY_IND	SHUTDOWN_DUE_ACCIDENT_IND	IGNITE_IND	EXPLODE_IND	ON_OFF_SHORE	INCIDENT_AREA_TYPE	DEPTH_OF_COVER	ITEM_INVOLVED	PIPE_DIAMETER INSTALLATION_YEAR RELEASE_TYPE	LEAK_TYPE	PRPTY	ACCIDENT_PRESSURE	SCADA_DETECTION_IND	CPM_DETECTION_IND	WATER_CONTAM_IND	CAUSE	CAUSE_DETAILS'
#create list of column names
column_names = column_names.split()

In [ ]:
# Load 2010-present data into dataframe
pipeline_file = 'yr2010_present.csv'
pipeline_data, fixed_pipeline_data = extract(pipeline_file,column_names)
yr2010_present_df = fixed_pipeline_data

In [ ]:
# Check columns
yr2010_present_df.columns

In [ ]:
new_columns= dict(LOCAL_DATETIME= 'DATE_OF_INCIDENT', PRPTY = 'TOTAL_EST_COST')
yr2010_present_df.rename(new_columns, axis=1, inplace=True)
yr2010_present_df.head()

In [ ]:
#convert 'DATE_OF_INCIDENT' column to datetime format
yr2010_present_df['DATE_OF_INCIDENT'] = yr2010_present_df['DATE_OF_INCIDENT'].astype('datetime64[ns]')

# Check the format of 'DATE_OF_INCIDENT' column
yr2010_present_df.info()

In [ ]:
#Get date ONLY from DATE_OF_INCIDENT column
yr2010_present_df['DATE_OF_INCIDENT'] = yr2010_present_df['DATE_OF_INCIDENT'].dt.date

In [ ]:
yr2010_present_df.head()

In [ ]:
# Drop LEAK_TYPE column
yr2010_present_df = yr2010_present_df.drop('LEAK_TYPE', axis=1)
yr2010_present_df.head()

In [ ]:
# Add columns for year of incident and age of facility (the year of the incident minus the installation year)
yr2010_present_df['YEAR_OF_INCIDENT'] = pd.DatetimeIndex(yr2010_present_df['DATE_OF_INCIDENT']).year
yr2010_present_df['AGE_OF_FACILITY'] = yr2010_present_df['YEAR_OF_INCIDENT'] - yr2010_present_df['INSTALLATION_YEAR']
yr2010_present_df.head()

In [ ]:
# Export cleaned 2010-present dataframe to csv file
yr2010_present_df.to_csv('yr2010_present_clean.csv', index=True)

# Create df of total incidents per year

In [ ]:
# Create list of years
pre86 = pd.DatetimeIndex(pre1986_df['DATE_OF_INCIDENT']).year
pre86to02 = pre86.append(pd.DatetimeIndex(yr1986_2002_df['DATETIME_OF_INCIDENT']).year)
pre86to09 = pre86to02.append(pd.DatetimeIndex(yr2002_2009_df['DATETIME_OF_INCIDENT']).year)
pre86topresent = pre86to09.append(pd.DatetimeIndex(yr2010_present_df['DATE_OF_INCIDENT']).year)

# Add column to dataframe
pre86topresent_df = pd.DataFrame(pre86topresent)
pre86topresent_df.columns=['Year']

In [ ]:
# Group by year and add count per year
incidents_per_year = pre86topresent_df.groupby(pre86topresent_df['Year']).size()
incidents_per_year_df = pd.DataFrame(incidents_per_year)
incidents_per_year_df.columns=['Incidents_per_Year']
incidents_per_year_df.head()

In [ ]:
# Export incidents per year to csv file
incidents_per_year_df.to_csv('incidents_per_year.csv', index=True)