In [1]:
#import dependencies and libraries
import pandas as pd
import numpy as np

In [2]:
#define function to extract chosen columns
def extract(pipeline_file,column_names):
    #Read data into df
    pipeline_data = pd.read_csv(pipeline_file, low_memory=False)
    fixed_pipeline_data = pipeline_data[column_names]
    return pipeline_data, fixed_pipeline_data

### Pre-1986

In [3]:

column_names = ['REPORT_ID','OPERATOR_NAME','ACCIDENT_DATE','ACCIDENT_STATE', 'ACCIDENT_COUNTY', 
    'ACCIDENT_CITY', 'COMMODITY', 'LOSS_BBLS', 'TOTAL_FATALITIES', 'TOTAL_INJURIES', 
    'IS_FIRE', 'IS_EXPLOSION', 'IS_ABOVE_GROUND_TEXT','TOTAL_PRPTY_DAMAGE','ESTIMATE_ACC_PRESSURE',
    'DEPTH_OF_COVER','SYS_PART_INVOLVED_TEXT', 'ORIGIN_LIQUID_RELEASE_TEXT', 'PRIMARY_CAUSE_TEXT']

pipeline_file = 'pre1986.csv'
pipeline_data, fixed_pipeline_data = extract(pipeline_file,column_names)

FileNotFoundError: [Errno 2] No such file or directory: 'pre1986.csv'

In [ ]:
pre1986_df = fixed_pipeline_data
pre1986_df

,REPORT_ID,OPERATOR_NAME,ACCIDENT_DATE,ACCIDENT_STATE,ACCIDENT_COUNTY,ACCIDENT_CITY,COMMODITY,LOSS_BBLS,TOTAL_FATALITIES,TOTAL_INJURIES,IS_FIRE,IS_EXPLOSION,IS_ABOVE_GROUND_TEXT,TOTAL_PRPTY_DAMAGE,ESTIMATE_ACC_PRESSURE,DEPTH_OF_COVER,SYS_PART_INVOLVED_TEXT,ORIGIN_LIQUID_RELEASE_TEXT,PRIMARY_CAUSE_TEXT
0,19850138,MID-AMERICA PIPELINE CO (MAPCO),10/16/1985,TX,WINKLER,KERMIT,NATURAL GAS LIQUID,623,0,0,NO,NO,BELOW GROUND,10,650,40,LINE PIPE,PIPE,EQUIPMENT RUPTURING LINE
1,19850137,WYCO PIPE LINE CO,10/6/1985,CO,ADAMS,DUPONT,GASOLINE,0,0,0,NO,NO,NO DATA,0,0,0,TANK FARM,TANK,OTHER
2,19850140,CHEVRON PIPELINE CO,9/26/1985,OR,MALHEUR,NO DATA,JET FUEL,178,0,0,NO,NO,BELOW GROUND,25000,250,8,LINE PIPE,PIPE,EQUIPMENT RUPTURING LINE
3,19850134,SINCLAIR PIPELINE CO,9/25/1985,WY,FREMONT,NO DATA,CRUDE OIL,200,0,0,NO,NO,BELOW GROUND,100,375,22,LINE PIPE,WELDED FITTING,EQUIPMENT RUPTURING LINE
4,19850121,BUCKEYE PIPE LINE CO,9/23/1985,NY,RICHMOND,NEW YORK -RICHMOND,GASOLINE,500,0,2,NO,NO,NO DATA,200,0,0,OTHER,OTHER,OTHER
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4728,19680004,SHELL PIPELINE CORP,1/2/1968,TX,NO DATA,WINKLER,CRUDE OIL,150,0,0,NO,NO,BELOW GROUND,0,750,8,LINE PIPE,PIPE,CORROSION
4729,19680005,SHELL PIPELINE CORP,1/2/1968,TX,WARD,MONAHANS,CRUDE OIL,200,0,0,NO,NO,BELOW GROUND,0,700,18,LINE PIPE,PIPE,CORROSION
4730,19680006,SOHIO PIPE LINE CO,1/2/1968,IL,NO DATA,GRAYVILLE,CRUDE OIL,314,0,0,NO,NO,NO DATA,164,0,0,LINE PIPE,VALVE,OTHER
4731,19680001,CONTINENTAL PIPE LINE CO,1/1/1968,OK,CARTER,FOX,L. P. G.,48,0,0,NO,NO,BELOW GROUND,0,300,30,LINE PIPE,PIPE,CORROSION
4732,19680002,SHELL PIPELINE CORP,1/1/1968,TX,WARD,MONAHANS,CRUDE OIL,50,0,0,NO,NO,BELOW GROUND,0,700,20,LINE PIPE,PIPE,CORROSION

In [ ]:
#create list of old column names and new column names
old_names = [
    'REPORT_ID',
    'OPERATOR_NAME',
    'ACCIDENT_DATE',
    'ACCIDENT_STATE', 
    'ACCIDENT_COUNTY', 
    'ACCIDENT_CITY', 
    'COMMODITY', 
    'TOTAL_FATALITIES', 
    'TOTAL_INJURIES',
    'IS_ABOVE_GROUND_TEXT', 
    'DEPTH_OF_COVER',
    'SYS_PART_INVOLVED_TEXT', 
    'TOTAL_PRPTY_DAMAGE',
    'ESTIMATE_ACC_PRESSURE', 
    'PRIMARY_CAUSE_TEXT']

new_names = [
 'REPORT_NUMBER',
 'NAME',
 'DATE_OF_INCIDENT',
 'STATE OF INCIDENT',
 'COUNTY OF INCIDENT',
 'CITY OF INCIDENT',
 'COMMODITY_RELEASED_TYPE',
 'FATALITY_IND',
 'INJURY_IND',
 'INCIDENT_AREA_TYPE',
 'DEPTH_OF_COVER',
 'ITEM_INVOLVED',
 'PRPTY',
 'ACCIDENT_PRESSURE',
 'CAUSE'
 ]
#create dictionary of old name and new names
new_columns = dict(zip(old_names, new_names))

#rename columns
pre1986_df.rename(new_columns, axis=1, inplace=True)
pre1986_df.head()

,REPORT_NUMBER,NAME,DATE_OF_INCIDENT,STATE OF INCIDENT,COUNTY OF INCIDENT,CITY OF INCIDENT,COMMODITY_RELEASED_TYPE,LOSS_BBLS,FATALITY_IND,INJURY_IND,IS_FIRE,IS_EXPLOSION,INCIDENT_AREA_TYPE,PRPTY,ACCIDENT_PRESSURE,DEPTH_OF_COVER,ITEM_INVOLVED,ORIGIN_LIQUID_RELEASE_TEXT,CAUSE
0,19850138,MID-AMERICA PIPELINE CO (MAPCO),10/16/1985,TX,WINKLER,KERMIT,NATURAL GAS LIQUID,623,0,0,NO,NO,BELOW GROUND,10,650,40,LINE PIPE,PIPE,EQUIPMENT RUPTURING LINE
1,19850137,WYCO PIPE LINE CO,10/6/1985,CO,ADAMS,DUPONT,GASOLINE,0,0,0,NO,NO,NO DATA,0,0,0,TANK FARM,TANK,OTHER
2,19850140,CHEVRON PIPELINE CO,9/26/1985,OR,MALHEUR,NO DATA,JET FUEL,178,0,0,NO,NO,BELOW GROUND,25000,250,8,LINE PIPE,PIPE,EQUIPMENT RUPTURING LINE
3,19850134,SINCLAIR PIPELINE CO,9/25/1985,WY,FREMONT,NO DATA,CRUDE OIL,200,0,0,NO,NO,BELOW GROUND,100,375,22,LINE PIPE,WELDED FITTING,EQUIPMENT RUPTURING LINE
4,19850121,BUCKEYE PIPE LINE CO,9/23/1985,NY,RICHMOND,NEW YORK -RICHMOND,GASOLINE,500,0,2,NO,NO,NO DATA,200,0,0,OTHER,OTHER,OTHER

### 1986-2002

In [ ]:
yr1986_2002_df = pd.read_csv('1986-2002_Oil_Spills.csv')

In [ ]:
yr1986_2002_df

,RPTID,NAME,DATETIME_OF_INCIDENT,STATE,COUNTY,CITY,OFFSHORE,LAT_LONG_OFFSHORE,SYSTEM_INVOLVED,ITEM_INVOLVED,...,IGNITE_IND,EXPLODE_IND,PIPE_DIAMETER,MAX_OP_PRESSURE,PRESSURE_AT_TIME_INCIDENT,INCIDENT_AREA_TYPE,AREA_OF_CORROSION,CAUSE_OUTSIDE_FORCE,PREVENTATIVE,FATALITIES
0,19850142,CHEVRON PIPELINE CO,19851011,TX,JEFFERSON,TOWN OF WINNIE,No,,LINE PIPE,PIPE,...,No,No,8.00,1472.0,50.0,BELOW GROUND,NO DATA,DAMAGE BY OTHERS,Yes,0.0
1,19850143,CENTRAL FLORIDA PIPELINE CORP,19851204,FL,POLK,LAKE ALFRED,No,,LINE PIPE,PIPE,...,No,No,11.00,900.0,400.0,BELOW GROUND,NO DATA,NO DATA,Null,0.0
2,19850144,MOBIL PIPELINE CO,19851115,CA,LOS ANGELES,,No,,PUMPING STATION,NO DATA,...,No,No,0.00,0.0,0.0,NO DATA,NO DATA,NO DATA,Null,0.0
3,19850145,MOBIL PIPELINE CO,19851123,TX,WEBB,,No,,NO DATA,PIPE,...,No,No,8.00,555.0,5.0,BELOW GROUND,NO DATA,DAMAGE BY OTHERS,Yes,0.0
4,19850146,PLANTATION PIPE LINE CO,19850909,GA,DOUGLAS,,No,,TANK FARM,NO DATA,...,No,No,0.00,0.0,0.0,NO DATA,NO DATA,NO DATA,Null,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3089,20020032,ENRON PRODUCTS PIPELINE INC,20020121,OK,WASHITA,CLINTON,No,NaN,LINE PIPE,PIPE,...,No,No,10.75,640.0,100.0,BELOW GROUND,INTERNAL,NaN,Null,0.0
3090,20020033,EQUILON PIPELINE COMPANY LLC,20020126,LA,PLACQUEMINES,NaN,No,NaN,NO DATA,VALVE,...,No,No,0.00,0.0,0.0,NO DATA,NaN,NaN,Null,0.0
3091,20020034,DOW PIPELINE CO,20020201,TX,CHAMBERS,NaN,No,NaN,PUMPING STATION,PIPE,...,No,No,1.00,2000.0,675.0,ABOVE GROUND,NaN,NaN,Yes,0.0
3092,20020035,ENRON PRODUCTS PIPELINE INC,20011011,OK,WASHITA,CLINTON,No,NaN,LINE PIPE,PIPE,...,No,No,10.75,640.0,100.0,BELOW GROUND,INTERNAL,NaN,Null,0.0
3093,20020036,CHEMOIL REFINING,20020206,CA,LONG BEACH,LOS ANGELES,No,NaN,LINE PIPE,PIPE,...,No,No,8.00,700.0,35.0,BELOW GROUND,EXTERNAL,DAMAGE BY OTHERS,Yes,0.0

In [ ]:
#checking column names
yr1986_2002_df.columns.tolist()

['RPTID',
 'NAME',
 'DATETIME_OF_INCIDENT',
 'STATE',
 'COUNTY',
 'CITY',
 'OFFSHORE',
 'LAT_LONG_OFFSHORE',
 'SYSTEM_INVOLVED',
 'ITEM_INVOLVED',
 'INSTALLATION_YEAR',
 'CAUSE',
 'CAUSE_DETAILS',
 'COMM',
 'TOTAL_BBLS',
 'IGNITE_IND',
 'EXPLODE_IND',
 'PIPE_DIAMETER',
 'MAX_OP_PRESSURE',
 'PRESSURE_AT_TIME_INCIDENT',
 'INCIDENT_AREA_TYPE',
 'AREA_OF_CORROSION',
 'CAUSE_OUTSIDE_FORCE',
 'PREVENTATIVE',
 'FATALITIES']

### 2002-2009

In [ ]:
column_names = 'REPORT_NUMBER NAME DATETIME_OF_INCIDENT LOCATION_LATITUDE LOCATION_LONGITUDE COMMODITY_RELEASED_TYPE TOTAL_BBLS_RELEASED FATALITY_IND INJURY_IND SHUTDOWN_DUE_ACCIDENT_IND IGNITE_IND EXPLODE_IND ON_OFF_SHORE	INCIDENT_AREA_TYPE	DEPTH_OF_COVER  ITEM_INVOLVED PIPE_DIAMETER	INSTALLATION_YEAR	AGE_OF_FACILITY RELEASE_TYPE LEAK_TYPE TOTAL_EST_COST	ACCIDENT_PRESSURE	WATER_CONTAM_IND	CAUSE'
column_names = column_names.split()
column_names

['REPORT_NUMBER',
 'NAME',
 'DATETIME_OF_INCIDENT',
 'LOCATION_LATITUDE',
 'LOCATION_LONGITUDE',
 'COMMODITY_RELEASED_TYPE',
 'TOTAL_BBLS_RELEASED',
 'FATALITY_IND',
 'INJURY_IND',
 'SHUTDOWN_DUE_ACCIDENT_IND',
 'IGNITE_IND',
 'EXPLODE_IND',
 'ON_OFF_SHORE',
 'INCIDENT_AREA_TYPE',
 'DEPTH_OF_COVER',
 'ITEM_INVOLVED',
 'PIPE_DIAMETER',
 'INSTALLATION_YEAR',
 'AGE_OF_FACILITY',
 'RELEASE_TYPE',
 'LEAK_TYPE',
 'TOTAL_EST_COST',
 'ACCIDENT_PRESSURE',
 'WATER_CONTAM_IND',
 'CAUSE']

In [ ]:
pipeline_file = '2002-2009.csv'
pipeline_data, fixed_pipeline_data = extract(pipeline_file,column_names)
yr2002_2009_df = fixed_pipeline_data

In [ ]:
#check dataframe
yr2002_2009_df

,REPORT_NUMBER,NAME,DATETIME_OF_INCIDENT,LOCATION_LATITUDE,LOCATION_LONGITUDE,COMMODITY_RELEASED_TYPE,TOTAL_BBLS_RELEASED,FATALITY_IND,INJURY_IND,SHUTDOWN_DUE_ACCIDENT_IND,...,ITEM_INVOLVED,PIPE_DIAMETER,INSTALLATION_YEAR,AGE_OF_FACILITY,RELEASE_TYPE,LEAK_TYPE,TOTAL_EST_COST,ACCIDENT_PRESSURE,WATER_CONTAM_IND,CAUSE
0,20020037,"TE PRODUCTS PIPELINE CO., LP",1/23/2002,34 45' 18,92 11' 57,GASOLINE,NaN,NO,NO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,510,NaN,NaN,MATERIAL AND/OR WELD FAILURES
1,20020038,"EQUISTAR CHEMICALS, L.P.",1/27/2002,29 42' 31.86,95 15' 9.0,HYDRODESULFURIZED LIGHT NAPHTHA,NaN,NO,NO,YES,...,BOLTED FITTING,NaN,1976.0,NaN,NaN,NaN,98242,YES,NO,OTHER
2,20020039,MOBIL PIPELINE CO,1/24/2002,33.03.607,097.35.244,CRUDE OIL,NaN,NO,NO,YES,...,BOLTED FITTING,NaN,1987.0,NaN,NaN,NaN,47670,YES,YES,INCORRECT OPERATION
3,20020040,CHEVRON PIPELINE CO,1/7/2002,NaN,,CRUDE OIL,NaN,NO,NO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3000,NaN,NaN,EQUIPMENT
4,20020041,"KINDER MORGAN ENERGY PARTNERS, L.P.",1/23/2002,NaN,NaN,PROPANE,NaN,NO,NO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2662,NaN,NaN,EQUIPMENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3025,20090382,NUSTAR PIPELINE OPERATING PARTNERSHIP L.P.,10/6/2009,40.584784,-99.380782,DIESEL,NaN,NO,NO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7123,NaN,NaN,INCORRECT OPERATION
3026,20090383,MARATHON PIPE LINE LLC,11/13/2007,39.632716,-87.284066,NaN,NaN,NO,NO,NO,...,OTHER,NaN,2007.0,NaN,NaN,NaN,0,NO,NO,INCORRECT OPERATION
3027,20090384,MARATHON PIPE LINE LLC,1/8/2006,30.00855,-90.8597,NaN,NaN,NO,NO,NO,...,OTHER,NaN,2006.0,NaN,NaN,NaN,0,NO,NO,INCORRECT OPERATION
3028,20090385,MARATHON PIPE LINE LLC,1/10/2009,30.19235,-90.85276,NaN,NaN,NO,NO,NO,...,OTHER,NaN,1977.0,NaN,NaN,NaN,0,NO,NO,OTHER
3029,20090386,WEST TEXAS GULF PIPELINE CO,6/17/2009,32.5323,-100.8298,NaN,NaN,NO,NO,YES,...,OTHER,NaN,1952.0,NaN,NaN,NaN,0,NO,NO,OTHER

### 2010 - present

In [ ]:
column_names = 'REPORT_NUMBER NAME LOCAL_DATETIME LOCATION_LATITUDE LOCATION_LONGITUDE COMMODITY_RELEASED_TYPE TOTAL_BBLS_RELEASED FATALITY_IND INJURY_IND	SHUTDOWN_DUE_ACCIDENT_IND	IGNITE_IND	EXPLODE_IND	ON_OFF_SHORE	INCIDENT_AREA_TYPE	DEPTH_OF_COVER	ITEM_INVOLVED	PIPE_DIAMETER INSTALLATION_YEAR RELEASE_TYPE	LEAK_TYPE	PRPTY	ACCIDENT_PRESSURE	SCADA_DETECTION_IND	CPM_DETECTION_IND	WATER_CONTAM_IND	CAUSE	CAUSE_DETAILS'
#create list of column names
column_names = column_names.split()

In [ ]:

pipeline_file = 'yr2010_present.csv'
pipeline_data, fixed_pipeline_data = extract(pipeline_file,column_names)
yr2010_present_df = fixed_pipeline_data

In [ ]:
yr2010_present_df.columns

Index(['REPORT_NUMBER', 'NAME', 'DATE_OF_INCIDENT', 'LOCATION_LATITUDE',
       'LOCATION_LONGITUDE', 'COMMODITY_RELEASED_TYPE', 'TOTAL_BBLS_RELEASED',
       'FATALITY_IND', 'INJURY_IND', 'SHUTDOWN_DUE_ACCIDENT_IND', 'IGNITE_IND',
       'EXPLODE_IND', 'ON_OFF_SHORE', 'INCIDENT_AREA_TYPE', 'DEPTH_OF_COVER',
       'ITEM_INVOLVED', 'PIPE_DIAMETER', 'INSTALLATION_YEAR', 'RELEASE_TYPE',
       'LEAK_TYPE', 'TOTAL_EST_COST', 'ACCIDENT_PRESSURE',
       'SCADA_DETECTION_IND', 'CPM_DETECTION_IND', 'WATER_CONTAM_IND', 'CAUSE',
       'CAUSE_DETAILS'],
      dtype='object')

In [ ]:
new_columns= dict(LOCAL_DATETIME= 'DATE_OF_INCIDENT', PRPTY = 'TOTAL_EST_COST')
yr2010_present_df.rename(new_columns, axis=1, inplace=True)
yr2010_present_df.head()

,REPORT_NUMBER,NAME,DATE_OF_INCIDENT,LOCATION_LATITUDE,LOCATION_LONGITUDE,COMMODITY_RELEASED_TYPE,TOTAL_BBLS_RELEASED,FATALITY_IND,INJURY_IND,SHUTDOWN_DUE_ACCIDENT_IND,...,INSTALLATION_YEAR,RELEASE_TYPE,LEAK_TYPE,TOTAL_EST_COST,ACCIDENT_PRESSURE,SCADA_DETECTION_IND,CPM_DETECTION_IND,WATER_CONTAM_IND,CAUSE,CAUSE_DETAILS
0,20210333,MARATHON PIPE LINE LLC,11/11/2021 6:37,40.676195,-81.347826,REFINED AND/OR PETROLEUM PRODUCT (NON-HVL) WHI...,0.50,NO,NO,YES,...,2017.0,LEAK,CRACK,2253.0,PRESSURE DID NOT EXCEED MOP,NO,NO,NO,EQUIPMENT FAILURE,"FAILURE OF EQUIPMENT BODY (EXCEPT PUMP), TANK ..."
1,20210335,"CASPER CRUDE TO RAIL, LLC",11/10/2021 10:15,42.944716,-106.442801,CRUDE OIL,0.36,NO,NO,NO,...,2019.0,LEAK,SEAL OR PACKING,11260.0,PRESSURE DID NOT EXCEED MOP,NO,NaN,NO,EQUIPMENT FAILURE,PUMP OR PUMP-RELATED EQUIPMENT
2,20210331,WEST TEXAS GULF PIPELINE CO,11/1/2021 11:03,31.777937,-96.400398,CRUDE OIL,2.00,NO,NO,NO,...,2018.0,LEAK,PINHOLE,40168.0,PRESSURE DID NOT EXCEED MOP,NO,NO,NO,CORROSION FAILURE,INTERNAL CORROSION
3,20210334,"FLINT HILLS RESOURCES, LC",11/1/2021 7:30,29.834136,-94.892281,HVL OR OTHER FLAMMABLE OR TOXIC FLUID WHICH IS...,2.20,NO,NO,YES,...,2018.0,LEAK,CRACK,505.0,PRESSURE DID NOT EXCEED MOP,NO,NO,NO,EQUIPMENT FAILURE,OTHER EQUIPMENT FAILURE
4,20210330,CR PERMIAN PROCESSING LLC,10/27/2021 19:32,31.510493,-103.503215,HVL OR OTHER FLAMMABLE OR TOXIC FLUID WHICH IS...,10244.18,NO,NO,YES,...,2018.0,OTHER,NaN,1035359.0,PRESSURE DID NOT EXCEED MOP,NaN,NaN,YES,CORROSION FAILURE,EXTERNAL CORROSION

In [ ]:
#convert 'DATE_OF_INCIDENT' column to datetime format

yr2010_present_df['DATE_OF_INCIDENT'] = yr2010_present_df['DATE_OF_INCIDENT'].astype('datetime64[ns]')

# Check the format of 'DATE_OF_INCIDENT' column
yr2010_present_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4640 entries, 0 to 4639
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   REPORT_NUMBER              4640 non-null   int64
 1   NAME                       4640 non-null   object
 2   DATE_OF_INCIDENT           4640 non-null   datetime64[ns]
 3   LOCATION_LATITUDE          4640 non-null   float64
 4   LOCATION_LONGITUDE         4640 non-null   float64
 5   COMMODITY_RELEASED_TYPE    4640 non-null   object
 6   TOTAL_BBLS_RELEASED        4640 non-null   float64
 7   FATALITY_IND               4640 non-null   object
 8   INJURY_IND                 4640 non-null   object
 9   SHUTDOWN_DUE_ACCIDENT_IND  4431 non-null   object
 10  IGNITE_IND                 4640 non-null   object
 11  EXPLODE_IND                4640 non-null   object
 12  ON_OFF_SHORE               4640 non-null   object
 13  INCIDENT_AREA_TYPE         4606 non-null   object
 14  DEPTH_OF_COVER             1251 non-null   object
 15  ITEM_INVOLVED              4638 non-null   object
 16  PIPE_DIAMETER              1110 non-null   float64
 17  INSTALLATION_YEAR          3061 non-null   float64
 18  RELEASE_TYPE               4639 non-null   object
 19  LEAK_TYPE                  3640 non-null   object
 20  TOTAL_EST_COST             4639 non-null   float64
 21  ACCIDENT_PRESSURE          3902 non-null   object
 22  SCADA_DETECTION_IND        3371 non-null   object
 23  CPM_DETECTION_IND          1900 non-null   object
 24  WATER_CONTAM_IND           4638 non-null   object
 25  CAUSE                      4639 non-null   object
 26  CAUSE_DETAILS              4640 non-null   object
dtypes: datetime64[ns](1), float64(6), int64(1), object(19)
memory usage: 978.9+ KB

In [ ]:
#Get date ONLY from DATE_OF_INCIDENT column
yr2010_present_df['DATE_OF_INCIDENT'] = yr2010_present_df['DATE_OF_INCIDENT'].dt.date()

In [ ]:
yr2010_present_df.head()

,REPORT_NUMBER,NAME,DATE_OF_INCIDENT,LOCATION_LATITUDE,LOCATION_LONGITUDE,COMMODITY_RELEASED_TYPE,TOTAL_BBLS_RELEASED,FATALITY_IND,INJURY_IND,SHUTDOWN_DUE_ACCIDENT_IND,...,INSTALLATION_YEAR,RELEASE_TYPE,LEAK_TYPE,TOTAL_EST_COST,ACCIDENT_PRESSURE,SCADA_DETECTION_IND,CPM_DETECTION_IND,WATER_CONTAM_IND,CAUSE,CAUSE_DETAILS
0,20210333,MARATHON PIPE LINE LLC,2021-11-11,40.676195,-81.347826,REFINED AND/OR PETROLEUM PRODUCT (NON-HVL) WHI...,0.50,NO,NO,YES,...,2017.0,LEAK,CRACK,2253.0,PRESSURE DID NOT EXCEED MOP,NO,NO,NO,EQUIPMENT FAILURE,"FAILURE OF EQUIPMENT BODY (EXCEPT PUMP), TANK ..."
1,20210335,"CASPER CRUDE TO RAIL, LLC",2021-11-10,42.944716,-106.442801,CRUDE OIL,0.36,NO,NO,NO,...,2019.0,LEAK,SEAL OR PACKING,11260.0,PRESSURE DID NOT EXCEED MOP,NO,NaN,NO,EQUIPMENT FAILURE,PUMP OR PUMP-RELATED EQUIPMENT
2,20210331,WEST TEXAS GULF PIPELINE CO,2021-11-01,31.777937,-96.400398,CRUDE OIL,2.00,NO,NO,NO,...,2018.0,LEAK,PINHOLE,40168.0,PRESSURE DID NOT EXCEED MOP,NO,NO,NO,CORROSION FAILURE,INTERNAL CORROSION
3,20210334,"FLINT HILLS RESOURCES, LC",2021-11-01,29.834136,-94.892281,HVL OR OTHER FLAMMABLE OR TOXIC FLUID WHICH IS...,2.20,NO,NO,YES,...,2018.0,LEAK,CRACK,505.0,PRESSURE DID NOT EXCEED MOP,NO,NO,NO,EQUIPMENT FAILURE,OTHER EQUIPMENT FAILURE
4,20210330,CR PERMIAN PROCESSING LLC,2021-10-27,31.510493,-103.503215,HVL OR OTHER FLAMMABLE OR TOXIC FLUID WHICH IS...,10244.18,NO,NO,YES,...,2018.0,OTHER,NaN,1035359.0,PRESSURE DID NOT EXCEED MOP,NaN,NaN,YES,CORROSION FAILURE,EXTERNAL CORROSION